.navigation-bar-conteiner{
    width: 45%;
    height: auto;
    float: right;
    display: flex;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: #ffff;
}
.link-menu{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left:50px;
    font-size: 18px;
    text-align: center;
}
.login-button{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 40px;
    margin-top: 20px;
    background: linear-gradient(330.53deg, #D40000 -15.77%, #F76343 28.41%, #FC6F6F 98.47%);
    box-shadow: 4px 8px 16px rgba(0, 27, 111, 0.2);
    border-radius: 20px;
}
.horizontal-box-links{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.li-effect{
    width: 130px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(330.53deg, #D40000 -15.77%, #F76343 28.41%, #FC6F6F 98.47%);
    box-shadow: 4px 8px 16px rgba(0, 27, 111, 0.2);
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.li{
    width: 130px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(154.49deg, rgba(121, 117, 131, 0.2) 5.35%, rgba(54, 53, 103, 0.2) 83.85%), rgba(49, 48, 54, 0.3);
    backdrop-filter: blur(4px);
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.horizontal-box-courses{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
}
.box-courses-popular{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.course-box-popular-1{
    width: 20%;
    height: 80%;
    background: linear-gradient(329.79deg, #0052D4 -31.21%, #4364F7 18.94%, #6FB1FC 98.47%);
    box-shadow: 4px 8px 16px rgba(0, 27, 111, 0.2);
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.course-box-popular-2{
    width: 20%;
    height: 80%;
    background: linear-gradient(330.18deg, #C84E89 -27.91%, #F15F79 101.7%);
    box-shadow: 4px 8px 16px rgba(0, 27, 111, 0.2);
    border-radius: 20px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.course-box-popular-3{
    width: 20%;
    height: 400px;
    background: linear-gradient(151.57deg, #DA22FF 0%, #9733EE 119.33%);
    box-shadow: 4px 8px 16px rgba(0, 27, 111, 0.2);
    border-radius: 20px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.left-navigation-button{
    width: 60px;
    height: 60px;
    justify-content: center;
    display: flex;
    background: linear-gradient(154.49deg, rgba(121, 117, 131, 0.2) 5.35%, rgba(54, 53, 103, 0.2) 83.85%), rgba(49, 48, 54, 0.3);
    backdrop-filter: blur(4px);
    border-radius: 40px;
    position: relative;
    left: 200px;
}
.right-navigation-button{
    width: 60px;
    height: 60px;
    justify-content: center;
    display: flex;
    background: linear-gradient(154.49deg, rgba(121, 117, 131, 0.2) 5.35%, rgba(54, 53, 103, 0.2) 83.85%), rgba(49, 48, 54, 0.3);
    backdrop-filter: blur(4px);
    border-radius: 40px;
    position: relative;
    right: 200px;
}
.icon-arrow{
    font-size: 40px;
    position: relative;
    top: 7px;
}




